{% extends 'base.html' %}

{% block content %}
<h1>Manager List</h1>
<a href="{% url 'create_manager' %}">Add Manager</a>
<h1></h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Surname</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for manager in managers %}
        <tr>
            <td>{{ manager.pk }}</td>
            <td>{{ manager.first_name }}</td>
            <td>{{ manager.last_name }}</td>
            <td>{{ manager.surname }}</td>
            <td>{{ manager.phone }}</td>
            <td><a href="{% url 'update_manager' manager.pk %}">Edit</a>
            <a href="{% url 'delete_manager' manager.pk %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}