{% extends 'base.html' %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create">
    </form>
    <div class="products">
        <a href={% url 'add_create_supplies' supplier_id %}>
            <input type="button" class="add" value="Add product" />
        </a>
        <div class="added_products">
            {% for product in products %}
                {{ product }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
