<div style="display: flex; flex-wrap: nowrap;">
    <a href='/'>
    <h1>ГЛАВНАЯ</h1>
</a>
<a href="{% url 'product' %}">
    <h1>ПРОДУКТЫ</h1>
</a>
<a href="{% url 'supplier' %}">
    <h1>ПОСТАВЩИКИ</h1>
</a>
<a href="{% url 'manager'%}">
    <h1>МЕНЕДЖЕР</h1>
</a>
<a href="{% url 'stock'%}">
    <h1>СКЛАД</h1>
</a>
<a href="{% url 'cooker'%}">
    <h1>ПОВАРА</h1>
</a>
<a href="{%url 'supplies'%}">
    <h1>ПОСТАВКИ</h1>
</a>
<a href="admin/">
    <h1>админка</h1>
</a>
</div>