{% extends 'base.html' %}

{% block content %}

  <h1>Supplier Product List</h1>
  <table>
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Supplier</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for supplier_product in supplier_products %}
        <tr>
          <td>{{ supplier_product.product.name }}</td>
          <td>{{ supplier_product.supplier.name }}</td>
          <td>{{ supplier_product.price }}</td>
          <td>
            <a href="{% url 'supplier_product_update' supplier_product.pk %}">Edit</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'supplier_product_create' %}">Add Supplier Product</a>
{% endblock %}