{% extends 'base.html' %}

{% block content %}

  <h1>Stock List</h1>
  <a href="{% url 'create_stock' %}">Add Stock</a>
  <h1></h1>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>
          <a href="?sort=amount_asc">
            Amount <i class="fas fa-sort-amount-up"></i>
          </a>
          <a href="?sort=amount_desc">
            Amount <i class="fas fa-sort-amount-down"></i>
          </a>
        </th>
        <th>Expired At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for stock in stocks %}
          {% if stock.amount > 0 and stock.expired_at > now %}
        <tr>
          <td>{{ stock.product }}</td>
          <td>{{ stock.amount }}</td>
          <td>{{ stock.expired_at }}</td>
          <td>
            <a href="{% url 'update_stock' stock.pk %}">Edit</a>
            <a href="{% url 'delete_stock' stock.pk %}">Delete</a>
          </td>
        </tr>
          {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
